<!-- Start Header -->
<header class="header axil-header header-style-2 header-style-6">
  <!-- Start Header Top Area  -->
  <div class="axil-header-top">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-2 col-sm-3 col-5">
                  <div class="header-brand">
                      <a href="index.html" class="logo logo-dark">
                          <img src="assets/images/logo/logo.png" alt="Site Logo">
                      </a>
                      <a href="index.html" class="logo logo-light">
                          <img src="assets/images/logo/logo-light.png" alt="Site Logo">
                      </a>
                  </div>
              </div>
              <div class="col-lg-10 col-sm-9 col-7">
                  <div class="header-top-dropdown dropdown-box-style">
                      <div class="axil-search">
                          <button type="submit" class="icon wooc-btn-search">
                              <i class="far fa-search"></i>
                          </button>
                          <input type="search" class="placeholder product-search-input" name="search2" id="search2" value="" maxlength="128" placeholder="¿Qué estás buscando?"  autocomplete="off" >
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End Header Top Area  -->

  <!-- Start Mainmenu Area  -->
  <div class="axil-mainmenu aside-category-menu">
      <div class="container">
          <div class="header-navbar">
              <!-- <div class="header-nav-department">
                  <aside class="header-department">
                      <button class="header-department-text department-title">
                          <span class="icon"><i class="fal fa-bars"></i></span>
                          <span class="text">Te ofrecemos</span>
                      </button>
                      <nav class="department-nav-menu" [ngClass]="{'d-none': !isHome()}">
                          <button class="sidebar-close"><i class="fas fa-times"></i></button>
                          <ul class="nav-menu-list">
                            <ng-container *ngFor="let categorie of categories">
                                <li>
                                    <a href="#" class="nav-link">
                                        <span class="menu-icon"><img [src]="categorie.imagen_home" alt="Department"></span>
                                        <span class="menu-text">{{ categorie.title }}</span>
                                    </a>
                                </li>
                            </ng-container>
                          </ul>
                      </nav>
                  </aside>
              </div> -->
              <div class="header-main-nav">
                  <!-- Start Mainmanu Nav -->
                  <nav class="mainmenu-nav">
                      <button class="mobile-close-btn mobile-nav-toggler"><i class="fas fa-times"></i></button>
                      <div class="mobile-nav-brand">
                          <a href="index.html" class="logo">
                              <img src="assets/images/logo/logo.png" alt="Site Logo">
                          </a>
                      </div>
                      <ul class="mainmenu">
                        <li>
                            <a href="/">Inicio</a>
                        </li>
                          <li>
                              <a href="https://www.jaknet.com.mx/" target="_blank">Ir a la Web</a>
                          </li>
                          <li >
                              <a routerLink="/filtro-de-productos/">Servicios TI</a>
                          </li>
                          <!-- <li><a [routerLink]="[ '/filtro-de-productos/' ]">Hardware</a></li> -->
                          <!-- <li class="menu-item-has-children">
                              <a href="#">Blog</a>
                              <ul class="axil-submenu">
                                  <li><a href="blog.html">Blog List</a></li>
                                  <li><a href="blog-grid.html">Blog Grid</a></li>
                                  <li><a href="blog-details.html">Standard Post</a></li>
                                  <li><a href="blog-gallery.html">Gallery Post</a></li>
                                  <li><a href="blog-video.html">Video Post</a></li>
                                  <li><a href="blog-audio.html">Audio Post</a></li>
                                  <li><a href="blog-quote.html">Quote Post</a></li>
                              </ul>
                          </li> -->
                          <li><a href="https://www.jaknet.com.mx/contacto" target="_blank">Contacto</a></li>
                      </ul>
                  </nav>
                  <!-- End Mainmanu Nav -->
              </div>
              <div class="header-action">
                  <ul class="action-list">
                      <li class="axil-search d-sm-none d-block">
                          <a href="javascript:void(0)" class="header-search-icon" title="Search">
                              <i class="flaticon-magnifying-glass"></i>
                          </a>
                      </li>
                      <!-- <li class="wishlist" *ngIf="user">
                          <a href="wishlist.html">
                              <i class="flaticon-heart"></i>
                          </a>
                      </li> -->
                      <li class="shopping-cart" *ngIf="user">
                          <a href="#" class="cart-dropdown-btn">
                              <span class="cart-count">{{ listCarts.length }}</span>
                              <i class="flaticon-shopping-cart"></i>
                          </a>
                      </li>
                      <li class="my-account">
                          <a href="javascript:void(0)">
                              <i class="flaticon-person"></i>
                          </a>
                          <small *ngIf="user">{{ user.name }}</small> 
                          <div class="my-account-dropdown">
                              <span class="title">{{ user.name + " " + user.surname }}</span>
                              <ul>
                                  <li>
                                      <a [routerLink]="[ '/perfil-del-cliente' ]" *ngIf="user">Mi Perfil</a>
                                  </li>
                                  <!-- <li>
                                      <a href="#">Initiate return</a>
                                  </li>
                                  <li>
                                      <a href="#">Support</a>
                                  </li>
                                  <li>
                                      <a href="#">Language</a>
                                  </li> -->
                              </ul>
                              <a routerLink="/auth/login" class="axil-btn btn-bg-primary" >Login</a>
                              <a href="#" onclick="return false;" (click)="logout()" class="axil-btn btn-bg-primary" *ngIf="user">Logout</a>
                              <div class="reg-footer text-center">¿Aún no tienes cuenta? <a routerLink="/auth/registro" class="btn-link" >REGISTRATE</a></div>
                          </div>
                      </li>
                      <li class="axil-mobile-toggle">
                          <button class="menu-btn mobile-nav-toggler">
                              <i class="flaticon-menu-2"></i>
                          </button>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <!-- End Mainmenu Area  -->
</header>


<!-- Header Search Modal End -->
<div class="header-search-modal" id="header-search-modal">
    <button class="card-close sidebar-close"><i class="fas fa-times"></i></button>
    <div class="header-search-wrap">
        <div class="card-header">
            <form action="#">
                <div class="input-group">
                    <input type="search" class="form-control" [(ngModel)]="search_product" (keyup.enter)="searchProduct()" name="prod-search" id="prod-search" #filter placeholder="Escribe lo que buscas...">
                    <button type="submit" class="axil-btn btn-bg-primary"><i class="far fa-search"></i></button>
                </div>
            </form>
        </div>
        <div class="card-body">
            <div class="search-result-header">
                <h6 class="title">{{ products_search.length }} Productos encontrados</h6>
                <a [routerLink]="[ '/filtro-de-productos/' ]" class="view-all">Ver Todo</a>
            </div>
            <div class="psearch-results">
                <ng-container *ngFor="let product of products_search">
                    <div class="axil-product-list">
                        <div class="thumbnail">
                            <a [routerLink]="[ '/landing-producto/', product.slug ]" [queryParams]="getRouterDiscount(product)">
                                <img [src]="product.imagen" width="120px" alt="Yantiti Leather Bags">
                            </a>
                        </div>
                        <div class="product-content">
                            <div class="product-rating">
                                <span class="rating-icon">
                                    <i class="fas fa-star" [ngClass]="{ 'start-del' : product.avg_review < 1 }"></i>
                                    <i class="fas fa-star" [ngClass]="{ 'start-del' : product.avg_review < 2 }"></i>
                                    <i class="fas fa-star" [ngClass]="{ 'start-del' : product.avg_review < 3 }"></i>
                                    <i class="fas fa-star" [ngClass]="{ 'start-del' : product.avg_review < 4 }"></i>
                                    <i class="fas fa-star" [ngClass]="{ 'start-del' : product.avg_review < 5 }"></i>
                            </span>
                                <span class="rating-number"><span>{{ product.count_review }}</span> Reseñas</span>
                            </div>
                            <h6 class="product-title"><a [routerLink]="[ '/landing-producto/', product.slug ]" [queryParams]="getRouterDiscount(product)">{{ product.title }}</a></h6>
                            <div class="product-price-variant">
                                <span class="price old-price" *ngIf="product.campaing_discount">$ {{ product.price_pesos }} MXN</span>
                                <span class="price current-price">$ {{ product.price_pesos - getDiscountProduct(product) }} MXN</span>
                            </div>
                            <div class="product-cart">
                                <!-- <a href="cart.html" class="cart-btn"><i class="fal fa-shopping-cart"></i></a> -->
                                <!-- <a href="wishlist.html" class="cart-btn"><i class="fal fa-heart"></i></a> -->
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<!-- Header Search Modal End -->



<div class="cart-dropdown" id="cart-dropdown">
    <div class="cart-content-wrap">
        <div class="cart-header">
            <h2 class="header-title">Carrito</h2>
            <button class="cart-close sidebar-close"><i class="fas fa-times"></i></button>
        </div>
        <div class="cart-body">
            <ul class="cart-item-list">
                <ng-container *ngFor="let cart of listCarts">
                    <li class="cart-item">
                        <div class="item-img">
                            <a href="single-product.html"><img [src]="cart.product.imagen" alt="Commodo Blown Lamp"></a>
                            <button class="close-btn" (click)="removeCart(cart)"><i class="fas fa-times"></i></button>
                        </div>
                        <div class="item-content">
                            <div class="product-rating">
                                <span class="icon">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                                <span class="rating-number">(64)</span>
                            </div>
                            <h3 class="item-title"><a href="single-product-3.html">{{ cart.product.title }}</a></h3>
                            <span *ngIf="cart.variedad"><small>VARIEDAD: {{ cart.variedad.valor }}</small></span>
                            <div class="item-price"><span class="currency-symbol"></span>$ {{ cart.total }} MXN</div>
                            <!-- <input type="number" class="" [value]="cart.cantidad"> -->
                            <!-- <div class="pro-qty item-quantity">
                            </div> -->
                        </div>
                    </li>
                </ng-container>
                
            </ul>
        </div>
        <div class="cart-footer">
            <h3 class="cart-subtotal">
                <span class="subtotal-title">Subtotal:</span>
                <span class="subtotal-amount">$ {{ totalCarts }} MXN</span>
            </h3>
            <div class="group-btn">
                <a routerLink="/lista-de-carritos" class="axil-btn btn-bg-primary viewcart-btn">Ver Carrito</a>
                <a routerLink="/proceso-de-pago" class="axil-btn btn-bg-secondary checkout-btn">Ir a Pagar</a>
            </div>
        </div>
    </div>
</div>